* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  padding: 0.5em;
  color: black;
}

.nav-items {
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

main {
  background-color: black;
}

.recipe-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  box-shadow: 0 0 4px 3px white;
  text-align: center;
  padding: 1.5em;
  margin-bottom: 2em;
  margin-left: 1.5em;
}

.images {
  width: 100%;
  box-shadow: 0 0 4px 3px white;
}

.title {
  font-size: 1.3rem;
  padding-bottom: 0.5em;
}

.comment-btn {
  margin-top: 1em;
  box-shadow: 0 0 4px 3px white;
  padding: 3px;
  font: "Gill Sans";
  background-color: black;
  color: white;
}

.footer {
  text-align: center;
  font-size: 1.3em;
  padding: 2em;
  color: black;
  box-shadow: 0 0 4px 3px black;
}
